.mobileNavHeader,
.mobileView {
    display: none;
}

.app-contaner {
    padding-top: 110px;
}

.top-header {
    background-color: #222;
}

.appheader {
    position: fixed;
    z-index: 100;
    width: 100%;
    left: 0;
    top: 0;
    transition: all 300ms;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.top-header-row {
    display: flex;
    justify-content: flex-end;
}

.top-header-link {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    color: #ece3e3;
}

.top-header-link i {
    margin-right: 10px;
    font-size: 18px;
}

.top-header-link:hover {
    color: #fff;
    background: #f36f21;
}

.request-call-btn {
    background: #f36f21;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px 20px;
    margin-left: 20px;
}

.request-call-btn:hover {
    color: #f36f21;
    background: #fff;
}

@keyframes sliderAnimation {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateX(0);
    }

}

@keyframes sliderAnimation2 {
    0% {
        transform: translateY(140px);
    }

    100% {
        transform: translateX(0);
    }

}

.bannerImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;
}

.banner-slide-item[aria-hidden="false"] .banner-title {
    animation: sliderAnimation .5s ease-in-out;
}

.banner-slide-item[aria-hidden="false"] .banner-heading {
    animation: sliderAnimation2 .7s ease-in-out;
}

.banner-slide-item:nth-child(odd) .bannerImage {
    transform: scale(1);
    transition: transform 8000ms ease-out 0s;
}

.banner-slide-item:nth-child(even) .bannerImage {
    transform: scale(1.1);
    transition: transform 8000ms ease-out 0s;
}

.banner-slide-item[aria-hidden="false"]:nth-child(odd) .bannerImage {
    transition: transform 8000ms ease-out 0s, opacity 800ms ease 0s;
    transform: scale(1.1);
}

.banner-slide-item[aria-hidden="false"]:nth-child(even) .bannerImage {
    transition: transform 8000ms ease-out 0s, opacity 800ms ease 0s;
    transform: scale(1);
}

.banner-item {
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    text-align: center;
}

.banner-item .vcontainer {
    flex: 1;
    color: #fff;
}

.banner-title {
    font-size: 60px;
    /* font-family: 'stylefont'; */
    color: #ffffff;
    font-weight: 900;
    text-shadow: 0 0 3px #000;
}

.banner-heading {
    font-size: 20px;
    line-height: 1.5;
    /* font-family: 'extrabold'; */
    max-width: 800px;
    margin: 0 auto;
}

.bannerbg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 150px;
    z-index: 1;
    background: rgb(22, 19, 19);
    background: linear-gradient(180deg, rgba(22, 19, 19, .6) 2%, transparent 100%);
}

.headersocial {
    display: flex;
    align-items: center;
}

.whatappIcon {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    background: #f9f9f9;
    color: #27a727;
    font-size: 23px;
    margin-left: 20px;
}

.header-sociallink {
    color: #888;
    font-size: 18px;
    margin-left: 14px;
}

.header-sociallink:hover {
    color: #f36f21;
}

.appnav {
    flex: 1;
    justify-content: flex-end;
    display: flex;
}

li.nav-list-item {
    position: relative;
    margin-right: 10px;
}

.nav--link {
    font-weight: 500;
    font-size: 14px;
    padding: 25px 10px;
    display: block;
    color: #222;
}

.nav--link:hover {
    color: #f36f21;
}

@keyframes megamenu {
    0% {
        transform: scaleY(.8);
        transform-origin: left top;
    }

    100% {
        transform: scale(1);
        transform-origin: left top;
    }
}

.megamenu {
    position: fixed;
    width: 100%;
    left: 0;
    top: 111px;
    z-index: 10;
    background: url(../images/main_menu_bg.jpg) no-repeat left bottom;
    background-color: #fff;
    min-height: 480px;
    box-shadow: 2px 4px 6px rgb(0 0 0 / 23%);
    padding: 50px 0;
    text-transform: capitalize;
    display: none;
    opacity: 0;

}

.nav-list-item:hover {
    z-index: 100;
}

.nav-list-item:hover>a {
    color: #f36f21;
}

.nav-list-item:hover .megamenu {
    animation: megamenu .4s ease-in-out;
    display: block;
    z-index: 100;
    opacity: 1;
}

.megamenu-row {
    display: flex;
}

.megamenu-nav {
    width: 60%;
    border-right: 1px solid #ddd;
    min-height: 380px;
    padding-right: 50px;
    text-transform: capitalize;
    display: flex;
}

.megamenu-images {
    padding-left: 50px;
}

.mega-nav-title {
    display: inline-block;
    font-weight: 700;
    color: #000;
    font-size: 17px;
    border-bottom: 2px dotted #f36f21;
    margin-bottom: 20px;
    padding-bottom: 6px;
}

ul.mega-nav-list li a {
    position: relative;
    display: block;
    color: #444;
    font-size: 16px;
    font-weight: 500;
}

.mega-nav-list {
    display: flex;
    flex-wrap: wrap;
}

.mega-nav-list li a:hover {
    color: #f36f21;
}

.mega-nav-list li {
    width: 100%;
}

.mega-nav-list li {
    margin-bottom: 8px;
    position: relative;
    padding-left: 20px;
}

.mega-nav-list.two-col li {
    width: 40%;

}

.mega-nav-list li:after {
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid #ff830a;
    position: absolute;
    content: "";
    left: 0;
    top: 8px;
    height: 0;
    width: 0;
}

.megamenu-title {
    display: inline-block;
    font-weight: 700;
    color: #000;
    font-size: 17px;
    border-bottom: 2px dotted #f36f21;
    margin-bottom: 20px;
    padding-bottom: 6px;
}

.megamenu-images-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.mengmenu-media-box {
    width: 50%;
    padding: 10px;
}

.megamenu-images {
    width: 40%;
}

.megamenu-media {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    overflow: hidden;
}


.aboutusRow {
    display: flex;
    position: relative;
    z-index: 10;
}

.aboutisImage {
    width: 50%;
}

.aboutContent {
    width: 50%;
    padding-left: 50px;
    background-color: #fff;
}

.heading1 {
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 0;
}

.headingTagLine {
    font-size: 16px;
    color: #999;
    margin-bottom: 20px;
}

a.aboutusExp {
    background: #2a2a2a;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 16px;
    font-size: 15px;
}

.aboutSec {
    position: relative;
    padding: 100px 0;
    overflow: hidden;
}

.aboutSecAfter {
    position: absolute;
    content: "";
    border-left: 1200px solid #fca120;
    border-top: 300px solid transparent;
    border-bottom: 290px solid transparent;
    left: 0;
    top: 0;
}

.serviceHead1 {
    text-align: center;
}

.serviceRow {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: 10px;
}

.serviceCol {
    padding: 16px;
    width: 33.33%;
}

.serviceBox {
    box-shadow: 0 0 10px rgb(0 0 0 / 29%);
    padding: 30px;
    border-radius: 0 0 30px 0;
    position: relative;
    cursor: pointer;
}

.serviceBox:hover .serviceImage {
    transform: scale(.8);
}

.serviceImage {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fffdeb;
    border-radius: 30px 0 30px 0;
    margin-bottom: 40px;
    transition: all .3s;
    position: relative;
    z-index: 10;
}

.serviceBox:hover .serviceTitle {
    transform: translateY(-20px);
    color: #f36f21;
}

.serviceTitle {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
    transition: all .3s;
}

.serviceBox:hover .serviceDesc {
    transform: translateY(-20px)
}

.serviceDesc {
    transition: all .3s;
}

a.servicelink {
    display: flex;
    align-items: center;
    line-height: 20px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 30px;
}

.service-btn-txt {
    transition: all .3s;
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
}

.servicelink i {
    margin-top: 4px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.serviceBox:hover .service-btn-txt {
    width: 90px;
}

.serviceBox:after {
    height: 5px;
    width: 0%;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: "";
    background-color: #f36f21;
    top: 0;
    z-index: 10;
    transition: all .3s;
    opacity: 0;
    position: absolute;
}

.serviceBox:hover:after {
    width: 100%;
    opacity: 1;
}

.col02 .serviceImage {
    background-color: #f9f2ff;
}

.col03 .serviceImage {
    background-color: #ecf3fe;
}

.col04 .serviceImage {
    background-color: #ecfeff;
}

.col05 .serviceImage {
    background-color: #fff6f2;
}

.col06 .serviceImage {
    background-color: #ecfeee;
}


.col01 .serviceBox:after {
    background-color: #efdf46;
}

.col02 .serviceBox:after {
    background-color: #ab6af3;
}

.col03 .serviceBox:after {
    background-color: #7e70fe;
}

.col04 .serviceBox:after {
    background-color: #40c5cc;
}

.col05 .serviceBox:after {
    background-color: #f76227;
}

.col06 .serviceBox:after {
    background-color: #46cd56;
}

.technolgySec{
    background: url(../images/techbg.png) no-repeat center top / cover;
    margin-top: 60px;
}

.technolgySection {
    background: rgb(0 0 0 / 49%);
    text-align: center;
}

.techdesc {
    font-size: 16px;
    margin-top: 10px;
}

.techrow{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 30px;
}

.techcol{
    padding: 12px;
    width: 50%;
}

.techbox{
    padding: 20px 20px 30px 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    text-align: left;
    cursor: pointer;
    transition: all .4s;
}

.techbox:hover {
    transform: translateY(-10px);
}
.techImage {
    min-width: 80px;
    margin-right: 20px;
}

.techTitle {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 4px;
}
.techTxt {
    line-height: 1.5;
}


.client-row {
    max-width: 980px;
    margin: 20px auto 0 auto;
}

.clientSliderMedia {
    position: relative;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    min-width: 300px;
    z-index: 10;
}

.clientSliderBox {
    display: flex;
    align-items: center;
    padding: 30px 50px;
}

.clientSliderContent {
    flex: 1;
    padding-left: 100px;
}

.clientSliderContent p {
    font-weight: 600;
    font-size: 23px;
    padding: 20px;
    background: url(../images/commas.png) no-repeat 0 0;
}

.clientDetail {
    margin-left: 20px;
    position: relative;
    padding-left: 70px;
}

.clientName {
    font-weight: 800;
}

.clientDetail:after {
    position: absolute;
    height: 2px;
    width: 60px;
    left: 0;
    top: 11px;
    background: #ff9b33;
    content: "";
}

.clientSliderMediaBg {
    width: 140px;
    height: 240px;
    position: absolute;
    left: -36px;
    bottom: -20px;
    background: #ff9b33;
    border-radius: 40px;
    z-index: 1;
}

.clientSliderControl {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.clientSliderControl span {
    width: 30px;
    height: 30px;
    border: 2px solid #707070;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: #707070;
    cursor: pointer;
    transition: all .3s;
    margin: 0 10px;
}

.clientSliderControl span:hover {
    border-color: #ff9b33;
    color: #ff9b33;
}


.smeSec {
    background: #eee;
    text-align: center;
}

.smsHead {
    max-width: 560px;
    margin: 0 auto;
}

.smsDesc {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 900px;
    margin: 30px auto 50px auto;
}
.smsSlider{
    display: flex;
    padding-bottom: 20px;
}

.smsSlide {
    background: #f3f3f3;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smsSlide:hover {
    border: 1px solid #f36f21;
}

.freeSec {
    background: #fca120;
    text-align: center;
}

.freeSecHead {
    color: #000;
}

.freeSec p {
    color: #000;
    font-size: 20px;
    line-height: 1.3;
    margin: 16px auto;
    max-width: 800px;
}

.vbtn.freeBtn {
    color: #fff;
    background: #000;
    font-weight: 600;
    font-size: 18px;
    padding: 12px 30px;
    display: inline-block;
    margin-top: 20px;
}

footer.footer {
    background: #f4f4f4;
    padding: 60px 0;
}

.footer-row {
    display: flex;
}

.footer-box{
    width: 25%;
}

.footer-box.footer-box-services{
    width: 50%;
}

a.footerClickLink {
    color: #444;
    display: block;
    font-size: 16px;
    margin-top: 6px;
}

.footerLogo{
    display: block;
    margin-bottom: 20px;
}

.footer-social .header-sociallink{
    margin-right: 16px;
    margin-left: 0;
    font-size: 24px;
    margin-top: 20px;
}
.footer-title {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

a.footer-link {
    display: block;
    font-size: 14px;
    color: #444;
    margin-top: 3px;
}

.footer-box-abt {
    padding-left: 80px;
    padding-right: 20px;
}
.footerServiceBox {
    display: flex;
    flex-wrap: wrap;
}

.footer-link:hover, a.footerClickLink:hover {
    color: #f36f21;
}

.footer-box-services .footer-link{
    width: 50%;
}
.footercopyright {
    background: #222222;
    color: #f1f1f1;
    text-align: center;
    padding: 16px;
}